::-webkit-scrollbar {
  display: none;
}
/* body */
body {
  background: #807573;
  font-family: "Noto Sans TC", sans-serif;
}
.rwd{
  display: none;
}
/* body */

.selecters{
    position: absolute;
    top:5vh;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8D817E;
    font-size: 2rem;
    padding: 1vw;
    border-radius: 1.5vw;
    border: 2px solid #8D817E;
    color:#ffffff;
}
.selecters div label{
    position: relative;
    top:0.2rem;
}
.selecters div select{
    height: 2rem;
    position: relative;
    border: 2px solid #BFA88F;
    background-color: #BFA88F;
}
.selecters button{
    height: 2rem;
    position: relative;
    top:0.25rem;
    border: 2px solid #BFA88F;
    background-color: #BFA88F;
}
.search{
    position: absolute;
    top:calc(7vh + 2rem + 2vw);
    transform: translate(-50%,0);
    left:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8D817E;
    padding: 1vw;
    border-radius: 1.5vw;
    border: 2px solid #8D817E;
    color:#ffffff;
}
.search p{
    font-size: 1.5rem;
}

table{
    position: absolute;
    top:calc(7vh + 3.5rem + 5vw);
    transform: translate(-50%,0);
    left:50%;
    width: 80vw;
    border-collapse: separate;
    border-spacing: 0 1vw; /
}
table tr{
    font-size: 2rem;
    text-align: center;
    height: 4rem;
}
table tr td{
    background-color: #F0CEA0;
}
table tr td:first-child {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-color: #F0CEA0;
}
table tr td:last-child {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #F0CEA0;
}
table tr th{
    background-color: #f3c88c;
}
table tr th:first-child {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-color: #f3c88c;
}
table tr th:last-child {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #f3c88c;
}
/* #807573 #8D817E #BFA88F #D8BB98 #F0CEA0 */
